
<div style="width:1000px">
    <mat-card>
        Stunde {{hour}}, {{yield}}Wh yield, {{consumption}}Wh consumption<br>
        <mat-progress-bar class="progressbar" mode="determinate" 
            [ngStyle]="barWidth()" 
            color="primary"
            [value]="progressWidthYield()">
        </mat-progress-bar>
        <mat-progress-bar class="progressbar" mode="determinate" 
            [ngStyle]="barWidth()" 
            color="warn"
            [value]="progressWidthConsumption()">
        </mat-progress-bar>
    </mat-card>
</div>